:root {
    --base-width: 1955px;
    --divisor: 10;
    --box-padding-block-start: 12px;
    --box-padding-block-end: 12px;
    --box-padding-inline-start: 12px;
    --box-padding-inline-end: 12px;
    --shelf-fixed-height: calc((var(--base-width) - 40px) / var(--divisor) * 1.25 - 24px);

}

html {
    scrollbar-width: none;
}

* {
    scroll-behavior: smooth;
}

.main-cont {
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 8px;
    margin-bottom: 10px;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.ham-cont {
    position: relative;
    background-color: #509bf5;
    /* z-index: 6; */
}

.ham {
    display: none;
    padding-left: 10px;
    margin-left: 30px;
    padding-top: 10px;
}

.close {
    position: relative;
    display: none;
    left: 45vw;
    padding-left: 10px;
    margin-left: 30px;
    padding-top: 10px;
}

/* ************************************* */
.S {
    position: absolute;
    min-height: 1670px;
    margin-top: 0;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(to bottom, #222222, #131313 240px, #121212);
}

.right {
    position: relative;
    overflow-x: hidden;
    scrollbar-width: none;
    overflow-y: auto;
    scrollbar-width: none;
    width: 72vw;
    height: 78.4vh;

    /* max-height: 75.4vh; */
    -webkit-scrollbar {
        display: none;
    }

}

.right-content {
    min-height: 1000px;
    width: 90%;
    z-index: 1;
    padding: 0 40px 32px 40px;
    margin-top: 4px;

}

.right-main {
    flex-direction: column;
    gap: 32px;
    isolation: isolate;
    padding-bottom: 32px;
    /* --home-full-width: 100cqi; */
}


.trend {
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.trend>:nth-child(2) {
    padding-top: 25px;
}

.trend h2>a {
    text-decoration: none;
    color: white;
    margin-bottom: 8px;
}

.cfont-ash {
    color: rgb(179, 179, 179);
    text-decoration: none;
}

.left-arrow {
    left: -20px;
    display: none;
}

.right-arrow {
    right: -20px;
}

.arrow {
    position: absolute;
    z-index: 10;
    top: 100px;
    /* right: 0px; */
    height: 32px;
    width: 32px;
    background-color: #121212;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.arrow:hover {
    background-color: rgba(40, 40, 40, 0.9);
}

/* ****************** */
.song-row-container {
    position: relative;
    z-index: 0;
    
}

.cardcont {
    width: 70vw;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    overflow-x: auto;
    margin-left: -40px;
    padding-left: 28px;
}

.card {
    width: calc(var(--base-width) / var(--divisor));
    /* padding-top: 10px; */
}

.play-btn {
    width: 48px;
    height: 48px;
    background-color: #1ED760;
    position: absolute;
    z-index: 1;
    top: 146px;
    right: 20px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.card-elements:hover .play-btn {
    top: 136px;
    opacity: 1;
}

.play-btn:hover {
    background-color: #3BE477;
    height: 50px;
    width: 50px;
}

.img-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #1C1C1C, #131313 90px);
    height: 190px;
    width: 195px;
    transform: translate(-10px, 0px);
}

.card-elements {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-block-start: var(--box-padding-block-start);
    padding-block-end: var(--box-padding-block-end);
    padding-inline-start: var(--box-padding-inline-start);
    padding-inline-end: var(--box-padding-inline-end);
}

.card-elements span {
    padding-bottom: 7px;
    padding-left: 2px;
}

.sect-b .img-cont {
    background-image: none;
}

.sect-c .song-row-container {
    height: 290px;
}

.card-elements:hover .img-cont {
    background-image: none;
}

.card-elements:hover {
    background-image: linear-gradient(to bottom, #1C1C1C);
    border-radius: 9px;
}

.sect-c .img-cont,
.sect-d .img-cont {
    background-image: linear-gradient(to bottom, #111111, #101010);
}

.right-footer-cont {
    min-height: 335px;
    padding-top: 40px;
}

.right-footer-cont hr {
    height: 0px;
    margin: 24px;
    border-bottom: 0;
    border-top: 0.8px solid #292929;
    border-bottom-color: rgb(179, 179, 179);
    border-left: 0;
    border-right: 0;
}

.seplin {
    min-width: 100px;
    width: 1060px;
}

.nav-box {
    justify-content: flex-start;
    padding: 8px 32px 0px 32px;
    width: 90%;
    height: 200px;
}
.lis-cont{
    align-items: flex-start;    
}
.list1 {
    flex-direction: column;
    gap: 8px;
    height: 178px;
    width: 182px;
    padding: 0;
    margin: 0 20px 32px 0px;
}

.list1 p {
    margin: 0;
}

.socials {
    gap: 6px;
    height: 174px;
    width: 152px;
    margin-bottom: 40px;
}

.scont {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1f1f1f;
}

.scont img {
    padding-top: 6px;
}

.scont:hover {
    background-color: #727272;
}

.copyright {
    padding: 16px 40px 32px 32px;
    color: #B3B3B3;
}

/* ****************** */
.banner-cont {
    top: 70px;
    position: fixed;
    z-index: 1000;
    border-top: 8px;
    height: 66px;
    width: 100%;
    padding: 8px;
    margin: 0px -8px;
    animation: fadeOutAndHide 7s forwards;
}

@keyframes fadeOutAndHide {
    from {
        opacity: 1;
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.cont {
    height: 100%;
    color: white;
    background: linear-gradient(to right, #ae2896, #509bf5);

}

.banner {
    height: 48px;
    justify-content: space-between;
    padding: 10px 22px 10px 16px;
}

.banner button {
    background-color: white;
    height: 48px;
    width: 155px;
    border-radius: 9999px;
    color: black;
    border: none;
}

.rtext {
    flex-direction: column;
    height: 41px;
    margin-bottom: 4px;
}

.rtext p {
    margin: 0;
}

/* ****************** */
